<html>
    <body bgcolor=#d4a3ae>

        <center>

        <h1> Credit Card Fraud Detector </h1><br>
        
        <form method="POST", action="{{url_for('predict')}}">
           <b> V2 :  <input type="text", name='V2', placeholder="enter between (-65 to 25)"> <br><br>
            V4 :  <input type="text", name='V4', placeholder="enter between (-6 to 20)"> <br><br>
            V8 :  <input type="text", name='V8', placeholder="enter between (-55 to 20)"> <br><br>
            V10 :  <input type="text", name='V10', placeholder="enter between (-27 to 16)"> <br><br>
            V12 :  <input type="text", name='V12', placeholder="enter between (-20 to 5)"> <br><br>
            V14 :  <input type="text", name='V14', placeholder="enter between (-20 to 10)"> <br><br>
            V16 :  <input type="text", name='V16', placeholder="enter between (-15 to 20)"> <br><br>
            V17 :  <input type="text", name='V17', placeholder="enter between (-25 to 10)"> <br><br>
            V19 :  <input type="text", name='V19', placeholder="enter between (-10 to 8)"> <br><br>
            V20 :  <input type="text", name='V20', placeholder="enter between (-60 to 40)"> <br><br>
            V28 :  <input type="text", name='V28', placeholder="enter between (-16 to 25)"> <br><br>
            Amount :  <input type="text", name='Amount', placeholder="enter Amount"> <br><br>
            prob :  <input type="text", name='prob', placeholder="enter between (0 to 1)"> <br><br>
            X1 :  <input type="text", name='X1', placeholder="enter between (0 to 0.1)"> <br><br>
            X6 : <input type="text", name='X6', placeholder="enter between (0 to 1)"> <br><br><br></b>
            <input type="submit" , value='predict!' >
        </form>

        <img src='' alt="">
        
    </center>

    </body>
</html>
