<html>
    <body bgcolor=#d4a3ae>

        <center>

        <h1> Credit Card Fraud Detector </h1><br>
        
        <form method="POST", action="{{url_for('predict')}}">
           <b> Amount :  <input type="text", name='Amount', placeholder="enter Amount"> <br><br>
            V1 :  <input type="text", name='V1', placeholder="enter between (-50 to 5)"> <br><br>
            V7 :  <input type="text", name='V7', placeholder="enter between (-60 to 130)"> <br><br>
            V8 :  <input type="text", name='V8', placeholder="enter between (-60 to 25)"> <br><br>
            V12 :  <input type="text", name='V12', placeholder="enter between (-20 to 5)"> <br><br>
            V14 :  <input type="text", name='V14', placeholder="enter between (-20 to 10)"> <br><br>
            V22 :  <input type="text", name='V22', placeholder="enter between (-15 to 10)"> <br><br>
            V26 :  <input type="text", name='V26', placeholder="enter between (-4 to 5)"> <br><br>
            prob :  <input type="text", name='prob', placeholder="enter between (0 to 1)"> <br><br>
            X1 :  <input type="text", name='X1', placeholder="enter between (-60 to 5)"> <br><br>
            X5 :  <input type="text", name='X5', placeholder="enter between (-60 to 5)"> <br><br>
            V4 :  <input type="text", name='V4', placeholder="enter between (-7 to 20)"> <br><br>
            V10 :  <input type="text", name='V10', placeholder="enter between (-27 to 17)"> <br><br>
            V13 : <input type="text", name='V13', placeholder="enter between (-5 to 10)"> <br><br><br></b>
            <input type="submit" , value='predict!' >
        </form>

        <img src='' alt="">
        
    </center>

    </body>
</html>
